# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build directories
dist/
dist-ssr/
*.local/
coverage/

# npm package lock files (optional, if you want to ignore them globally)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
Thumbs.db
ehthumbs.db
