@import url("../../App.css");
@import "tailwindcss";

.page-title{
    @apply flex-row m-0 p-1 rounded-md bg-[#879c7d] align-middle justify-center;
    font-family: 'Data70', sans-serif;
    font-size: 2rem;
    min-height: 5rem;
}
.page-wrapper {
    @apply flex flex-col h-screen w-full pl-[0.5cm];
}
  
.page-content {
  @apply mt-[0.5cm] border-2 border-[#fbd499] bg-[#a99890] rounded-lg flex flex-col text-center h-full w-full overflow-y-auto relative;
}

.page-content::-webkit-scrollbar {
  width: 8px;
}

.page-content::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.page-content::-webkit-scrollbar-track {
  background: transparent;
}

.page-content::-webkit-scrollbar-button {
  display: none;
}

.page-content {
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;
}

.project-view {
  @apply grid grid-cols-[repeat(auto-fit,minmax(45%,1fr))] auto-rows-min gap-[0.4cm] w-full p-[0.4cm];
}

.loading-circle {
  @apply absolute top-1/2 left-1/2 w-10 h-10 border-4 border-[#f3f3f3] border-t-[#fbd499] rounded-full animate-spin;
  transform: translate(-50%, -50%);
}

.project {
  @apply border-2 border-[#fbd499] bg-[#cbc385] rounded-lg transition-colors duration-100 ease-in-out min-w-[50%] p-4 cursor-pointer;
}

.project:hover {
  @apply bg-[#fbd499];
}

.titlebar {
  @apply flex flex-row text-center align-middle justify-center min-h-20;
}

.title-wrapper {
  @apply flex items-center w-full h-full justify-center ;
}

.back-button {
  @apply absolute left-[7%] translate-y-[60%] w-[3cm] border-2 border-[#eda86e] text-white rounded-lg bg-[#b8868e] cursor-pointer transition-colors duration-100 ease-in-out;
}

.back-button:hover {
  @apply bg-[#eda86e];
}