.button{
    padding-top: 1vh;
    border: 2px solid #eda86e;
    background-color: #72867d;
}

.button-clicked{
    border: none;
    background-color: #a99890;
    border-right: none;
}

.padding{
    flex-grow: 1;
    background-color: #4a92a8;
}