@import "tailwindcss";

@font-face {
  font-family: "Data70";
  src: url("/fonts/Data70.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src: url("/fonts/IBMPlexSans-Text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.border-multi {
  border-color: var(--border-primary, transparent)
    var(--border-secondary, transparent) var(--border-secondary, transparent)
    var(--border-primary, transparent);
}

.mainWrap {
  @apply h-screen flex overflow-y-hidden relative;
  /* background-image: url('public/images/icons/background/Background_Right.svg'); */
}

.corner-tl,
.corner-tr,
.corner-bl,
.corner-br {
  @apply w-8 h-8 absolute bg-cover bg-no-repeat;
}

.corner-tl {
  @apply left-0 top-0 bg-[url('public/images/border/TL.svg')];
}

.corner-tr {
  @apply right-0 top-0 bg-[url('public/images/border/TR.svg')];
}

.corner-bl {
  @apply left-0 bottom-0 min-w-8 min-h-8 bg-[url('public/images/border/BL.svg')];
}

.corner-br {
  @apply right-0 bottom-0 min-w-8 min-h-8 bg-[url('public/images/border/BR.svg')];
}

.stylebox {
  @apply relative flex flex-col h-full w-full m-0 p-0 align-middle;
}

.styleflex {
  @apply flex w-full h-full justify-center;
}

.middle {
  @apply absolute left-8 w-[calc(100%-4rem)];
}

.middle-top {
  @apply top-0 border-t-1 border-[#eda86e];
}

.middle-bottom {
  @apply bottom-0 border-b-1 border-[#eda86e];
}

.side {
  @apply absolute w-0 top-8 h-[calc(100%-4rem)] border-r border-[#eda86e];
}

.side-left {
  @apply left-0;
}

.side-right {
  @apply right-0;
}

.inline {
  @apply flex flex-row relative h-0 w-full p-0;
}

.v-fill {
  @apply flex h-[calc(100%-4rem)];
}

.w-fill {
  @apply w-[calc(100%-0.2rem)];
}

.taskbar {
  @apply rounded-md max-w-60 bg-[#879c7d] p-1;
}

.taskbar-content {
  @apply pt-10 align-middle;
}

.background1 {
  @apply bg-repeat bg-[top_left] bg-auto h-full w-full;
}

h2,
h3,
p,
button,
li {
  @apply font-["Plex"];
}

h2 {
  @apply border-b-2 text-[15pt] border-[#eda86e];
}

.taskbar h2,
.taskbar h3 {
  @apply text-[20pt] mx-[0.8cm] my-0 text-center;
}

.taskbar h3 {
  @apply text-[10pt];
}

h1 {
  @apply m-0;
}

.mainContent {
  @apply pt-8 pb-8 flex max-w-[28cm] w-full;
}

.picture-frame {
  @apply border border-[#eda86e] rounded-md w-4/5 bg-[#72867d] overflow-hidden mx-auto;
}

.picture-frame img {
  @apply w-full h-full object-cover block;
}
